In [ ]:
import pandas as pd
import numpy as np
import re

#### Original Dataset

In [ ]:
df = pd.read_csv("./jetson-sample-data.csv")
df.head()

,client_id,order_id,item_name,quantity,price,date
0,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,1,16.0,2022-01-24
1,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Krombacher,1,8.0,2022-01-24
2,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Ahi Tuna,1,23.0,2022-01-24
3,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Little Gem Salad,1,14.0,2022-01-24
4,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Fire Pie,1,20.0,2022-01-24

#### Removing < 0 price

In [ ]:
new_df = df[df["price"] >= 0]
print(new_df.shape)
new_df.head()

(665847, 6)

,client_id,order_id,item_name,quantity,price,date
0,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,1,16.0,2022-01-24
1,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Krombacher,1,8.0,2022-01-24
2,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Ahi Tuna,1,23.0,2022-01-24
3,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Little Gem Salad,1,14.0,2022-01-24
4,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Fire Pie,1,20.0,2022-01-24

#### Unique IDs

In [ ]:
print(new_df["client_id"].value_counts())

ahNzfnNldmVucm9vbXMtc2VjdXJlciQLEhpuaWdodGxvb3BfVmVudWVHcm91cENsaWVudBjok_6aFww        803
ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3BfVmVudWVHcm91cENsaWVudBiAgLjLkIGdCAw    651
ahNzfnNldmVucm9vbXMtc2VjdXJlciQLEhpuaWdodGxvb3BfVmVudWVHcm91cENsaWVudBj-mcSfCQw        457
ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3BfVmVudWVHcm91cENsaWVudBiAgPCp7Zz3Cww    342
ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3BfVmVudWVHcm91cENsaWVudBiAgPCPxsypCgw    315
                                                                                      ...
ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3BfVmVudWVHcm91cENsaWVudBiAgOzX6fvzCAw      1
ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3BfVmVudWVHcm91cENsaWVudBiAgKSxr5zyCww      1
ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3BfVmVudWVHcm91cENsaWVudBiAgKTAlNnrCww      1
ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3BfVmVudWVHcm91cENsaWVudBiAgPThj5SBCww      1
ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3BfVmVudWVHcm91cENsaWVudBiAgMLFiY3SCgw      1
Name: client_id, Length: 66493, dtype: int64

#### Unique Order IDs

In [ ]:
print(len(new_df["order_id"].unique()))

80517

#### Extrapolation

In [ ]:
labelled_mini = pd.read_csv("./labelled_data.csv", encoding="ISO-8859-1")
labelled_mini.head()

                           item_name      type type2
0                       Coffeee Cake   dessert     v
1  (Well Cognac) Pierre Ferrand 1840  beverage     a
2       (Well Rum) Plantation 3 Star  beverage     a
3                        400 Conejos  beverage     a
4                              Askur  beverage     a

In [ ]:
labelled_mini.shape

(2061, 3)

In [ ]:
merged_df = pd.merge(new_df, labelled_mini[["item_name", "type", "type2"]], on="item_name", how="inner")
merged_df.head()

,client_id,order_id,item_name,quantity,price,date,type,type2
0,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,1,16.0,2022-01-24,beverage,a
1,ahNzfnNldmVucm9vbXMtc2VjdXJlciQLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,1,16.0,2022-01-25,beverage,a
2,ahNzfnNldmVucm9vbXMtc2VjdXJlciQLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,1,16.0,2022-01-25,beverage,a
3,ahNzfnNldmVucm9vbXMtc2VjdXJlciQLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,1,16.0,2022-01-25,beverage,a
4,ahNzfnNldmVucm9vbXMtc2VjdXJlciQLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,1,16.0,2022-01-25,beverage,a

In [ ]:
merged_df.type.value_counts()

beverage      258726
maincourse    201175
starters      157217
sidedish       50259
starter        45271
dessert        23101
beverage        3402
soup            1063
Name: type, dtype: int64

In [ ]:
print(merged_df.shape)
# merged_df.to_csv("merged.csv")

(740214, 8)

#### Drop Duplicates

In [ ]:
df = merged_df
df.drop_duplicates(inplace=True)
print(merged_df.shape)

(634538, 8)

#### Drop :)

In [ ]:
smile_index = df[df['item_name'] == ':)'].index
df.drop(smile_index , inplace=True)
print(df.shape)

(634538, 8)

#### Drop starting with $

In [ ]:
patternDel = "^\$\d*$"
filter_ = df['item_name'].str.contains(patternDel)
df = df[~filter_]
print(df.shape)

(634538, 8)

#### Drop/Separate Add

In [ ]:
patternDel = "^Add\s"
filter_ = df['item_name'].str.contains(patternDel)
add_df = df[filter_]
df = df[~filter_]
print(df.shape)

(634500, 8)

#### Drop Strings having Fee

In [ ]:
patternDel = "Fee"
filter_ = df['item_name'].str.contains(patternDel)
add_df = df[filter_]
df = df[~filter_]
print(df.shape)

(634496, 8)

In [ ]:
df.to_csv("merged.csv")